.contenido{
    background-color: black;
}

.bton {
    position: center;
    display: block;
    height: 77px;
    width: 300px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(228, 122, 24);
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #20e2d7;
    margin-bottom: 40px;
    z-index: 0;
    font-weight: 700;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #20e2d7;
        transition: all 500ms ease;
        z-index: -1;
    }
    &--1::before{
        width: 0;
        height: 100%;
    }
    &--1:hover{
        color: black;

        &::before{
            width: 100%;
        }
    }    
}
